<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="fortuneService"
		class="com.app.service.HappyFortuneService"></bean>
	<bean id="baseBall" class="com.app.service.BaseBallCoach">
		<constructor-arg ref="fortuneService"></constructor-arg>
	</bean>
	<bean id="cricket" class="com.app.service.CricketCoach">
		<constructor-arg ref="fortuneService"></constructor-arg>
	</bean>

</beans>





